


.body
{
margen: 20px;
}

.code-block 
{
background-color: #f0f0f0; /* Light gray */
    color: darkgreen;          /* Dark green font */
    padding: 10px;             /* Adds space inside the box */
    border-radius: 4px;        /* Slightly rounds the corners */
    font-family: monospace;
}
.div_footer
    {
        background-color: #f0f0f0; /* Light gray */
        padding: 10px; 
        font: black; 
    }
