


.body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            line-height: 1.6;
            color: #333;
            max-width: 800px;
            margin: 40px auto;
            padding: 0 20px;
            background-color: #f4f7f6;
        }

.code-block 
{
background-color: #f0f0f0; /* Light gray */
    color: darkgreen;          /* Dark green font */
    padding: 25px;             /* Adds space inside the box */
    border-radius: 4px;        /* Slightly rounds the corners */
    font-family: monospace;
}
.div_footer
    {
        background-color: #f0f0f0; /* Light gray */
        padding: 10px; 
        font: black; 
    }


.lesson
{
        background-color: #f0f0f0; /* Light gray */
        padding: 25px; 
        font: black;
}
