


.body
{
margen : 15;
}

.code-block 
{
background-color: #f0f0f0; /* Light gray */
    color: darkgreen;          /* Dark green font */
    padding: 10px;             /* Adds space inside the box */
    border-radius: 4px;        /* Slightly rounds the corners */
    font-family: monospace;
}
